<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mageventory"
    android:versionCode="12"
    android:versionName="1.9.r198" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductListActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name=".ConfigServerActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name=".ProductCreateActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".ProductDetailsActivity"
            android:configChanges="keyboardHidden|orientation" 
            android:windowSoftInputMode="stateHidden"/>
			<intent-filter>
                <action android:name="action_product_details"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        <activity
            android:name=".CategoryListActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".ProductListActivity2"></activity>
        <service android:name=".res.ResourceService"></service>
        <provider android:authorities="com.mageventory.res.ResourceState" android:name=".res.ResourceStateContentProvider"></provider>
        <activity android:name="ResExampleImageActivity"></activity>
        
		<activity 
			android:name="PhotoEditActivity"
			android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".res.ResourceStateActivity"></activity>		
		<activity android:name=".ScanActivity" android:configChanges="orientation"></activity>
		<activity android:name=".ExpressSellActivity"></activity>
		
    </application>

</manifest>